<ul>
  <li>
    {{link-to 'Add Food' 'foods.new'}}
  </li>
</ul>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Expiration Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |food|}}
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.expiration}}</td>
        <td><a href="#">Delete (Placeholder)</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
