<nav>
  {{link-to 'Rotten' 'index' class='main'}}

  <!-- responsive -->
  <input id="bmenu" class="burgercheck" type="checkbox">
  <label for="bmenu" class="burgermenu"></label>
  <!-- /responsive -->

  <div class='menu'>
    {{link-to 'Dashboard' 'index' class='icons-gauge'}}
    {{link-to 'Foods' 'foods' class='icons-users-1'}}
    {{link-to 'New Food' 'foods.new' class='icons-user-add'}}
  </div>
</nav>
